
*{
	box-sizing: border-box;
}

body{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

p{
	border:1px solid black;
	margin: 10px;
	overflow: auto;
}

header{
	text-align: center;
	font-size: 175%;
}

.maintext{
	background-color:pink;
	height: 250px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 50px;
}

.label{
	position:absolute;
	top:0px;
	right:0px;
	padding: 10px;
	width: 150px;
	text-align: center;
	font-size: 125%;
	}
	
.chicken{
	background-color:indigo;
	color:white;
}

.beef{
	background-color:lawngreen;
	color:black;
}

.sushi{
	background-color:firebrick;
	color:gold;
}

div{
	float: left;
	position:relative;
}

@media(min-width:992px){
	.onethirdlg{
		width: 33.33%;
	}
	.onehalflg{
		width: 50%;
	}
	.onewholelg{
		width: 100%;
	}
}
@media(min-width:768px) and (max-width:991px){
	.onethirdmd{
		width: 33.33%;
	}
	.onehalfmd{
		width: 50%;
	}
	.onewholemd{
		width: 100%;
	}
}
@media(max-width:767px){
	.onethirdsm{
		width: 33.33%;
	}
	.onehalfsm{
		width: 50%;
	}
	.onewholesm{
		width: 100%;
	}
}
